{
    "synth_resv":{
            "input": {
                "node-sweep":{
                    "range":[100]
                },
                "performance-sweep":{
                    "range":[1.0]
                },
                "reservation-sweep":{
                        "name":"resv1",
                        "reservations-array":[
                                {
                                        "{-1} subdivisions":"[1]",
                                        "{-1} subdivisions-unit":"[1]month [00]:[00]:[00]",
                                        "subdivisions":"[4]",
                                        "subdivisions-unit":"[1]month [00]:[00]:[00]",
                                        "{1} subdivisions-unit":"[2,4,8]days [00]:[00]:[00]"
                                }
                        ]
                },
                "reservations-resv1":{
                       "reservations-array":[
                          {
                            "type":"parallel_homogeneous",
                            "machines":{
                                 "prefix":"a",
                                 "machine-speed":1,
                                 "total-resources":"0-99",
                                 "interval":"0-99"
                            },
                            "repeat-every":"1month 0days 00:00:00",
                            "time":"00:480:00",
                            "start":"1month 0days 12:00:00",
                            "submit":-1,
                            "count":15
                         }
                      ]
                },
                "batsched-log":"info",
                "forward-profiles-on-submission":true,
                "batsched-policy":"conservative_bf",
                "disable-dynamic-jobs":true,
                "synthetic-workload":{
                    "type":"parallel_homogeneous",
                    "machine-speed":1,
                    "force-creation":true,
                    "duration-time":"3600:21600:unif",
                    "number-of-resources":"1:50:unif",
                    "submission-time":"3600.0:exp",
                    "wallclock-limit":"101%",
                    "number-of-jobs":5000,
                    "seed":20
                }
            },
            "output": {
                "avg-makespan":3
            }
    }
}
