{
    "easybf3-test":{
            "input": {
                "node-sweep":{
                    "range":[2000]
                },
                "performance-sweep":{
                    "range":[1.0]
                },
                "batsched-log":"info",
                "forward-profiles-on-submission":true,
                "batsched-policy":"easy_bf3",
                "disable-dynamic-jobs":true,
                "synthetic-workload":{
                    "type":"parallel_homogeneous",
                    "machine-speed":1,
                    "force-creation":true,
                    "duration-time":"1800:32400:unif",
                    "submission-time":"900:exp",
                    "number-of-resources":"1:750:unif",
                    "wallclock-limit":"101%",
                    "number-of-jobs":100000,
                    "seed":20
                }
            },
            "output": {
                "avg-makespan":1,
                "bins":"[0,3,5,10]"
            }
    }
}
