{
    "easybf3-test":{
            "input": {
                "node-sweep":{
                    "range":[1000]
                },
                "performance-sweep":{
                    "range":[1.0]
                },
                "batsched-log":"quiet",
                "batsim-log":"quiet",
                "forward-profiles-on-submission":true,
                "batsched-policy":"easy_bf2",
                "disable-dynamic-jobs":true,
                "synthetic-workload":{
                    "type":"parallel_homogeneous",
                    "machine-speed":1,
                    "force-creation":true,
                    "duration-time":"3600:21600:unif",
                    "submission-time":"1800:exp",
                    "number-of-resources":"1:300:unif",
                    "wallclock-limit":"101%",
                    "number-of-jobs":75000,
                    "seed":20
                }
            },
            "output": {
                "avg-makespan":1
            }
    }
}
